{% extends 'base.html.twig' %}

{% block title %}Nouvelle lignestatut{% endblock %}

{% block body %}
    <h1>Créer un état de facture.</h1>

    {{ include('ligne_statut/_form.html.twig') }}

    <a href="{{ path('ligne_statut_index') }}">retour</a>
{% endblock %}
