{% extends 'base.html.twig' %}

{% block title %}Edit LineStatus{% endblock %}

{% block body %}
    <h1>Edit LineStatus</h1>

    {{ include('line_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('line_status_index') }}">back to list</a>

    {{ include('line_status/_delete_form.html.twig') }}
{% endblock %}
