{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche de frais hors forfait{% endblock %}

{% block body %}

    <div class="container shadow-lg rounded">
        <div class="card-header" style ="text-align:center"><h1>Créer une fiche de frais hors forfait</h1></div>

            <div class="form-group">
                <label for="dateFicheFrais">Date</label>
                <input type="Date" class="form-control" id="dateFicheFrais" style="width: 15%">
            </div>

            <div class="form-group">
                <form action="{{ path('store_fiche_frais') }}" method="post" enctype="multipart/form-data">
                    <table class="table table-hover table-sm table-light shadow-lg display" id="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Frais au hors forfait</th>
                            <th>Prix Unitaire</th>
                            <th>Quantité</th>
                            <th>Justificatif</th>
                            <th>Montant</th>
                        </tr>

                        </thead>
                        {% for item in fraisHorsForfaits %}
                            <tr>
                                <td>{{item.libelle}}</td>
                                <td>{{item.montant}} €uro</td>
                                <td class="form-group">
                                    <input type="number" class="form-control" id="quantite" name="quantite">
                                </td>
                                <td class="form-group">
                                    <input type="file" class="form-control-file" id="jsutificatif" name="files[]">
                                </td>
                                <td class="form-group">
                                    <input type="number" class="form-control" id="montant" name="montant">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
    </div>
{% endblock %}
